@{ ViewData["Title"] = "Success";
                Layout = "_Panel"; }
<meta http-equiv="refresh" content="1;url=https://localhost:44368/Account/Login">

<p class="text-success">
    <h3 class="text-center">Successfully send msg</h3>
</p>