@model RegisterModel;
@{ 
    Layout = "_Empty";
}

<meta http-equiv="refresh" content="3;url=https://localhost:44368">

<p class="text-success h3"> Successfully registered. Nice to see you @Model.Name
</p>