@model projekt_asp.Models.LoginModel;
@{ ViewData["Title"] = "Homepage login";
    Layout = "_Empty"; }
<link href="~/css/Homepage.css" rel="stylesheet" type="text/css" />

<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Employee Controls Program</h2>
                            <div class="h3">Log in to access the panel</div>

                            <form class="form-signin mt-4" asp-controller="Account" asp-action="Login" method="post">

                                <div class="form-outline mb-4">
                                    <label asp-for="Name" class="form-label">Login</label>
                                    <input asp-for="Name" class="form-control form-control-lg" placeholder="Login" required autofocus>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" class="form-control form-control-lg" placeholder="Password" type="password" required autofocus>
                                    <input asp-for="ReturnUrl" type="hidden" class="hide">
                                </div>


                                <a class="font-italic font-weight-bold text-info mt-1" asp-controller="Employee" asp-action="Register">No account ? Sign up !</a>
                                <button class="btn btn-lg btn-dark btn-block mt-3 " type="submit">Log in</button>
                                @Html.ValidationMessage("CustomError")
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

